$black: #000000;
$white: #FFFFFF;
$main-font: 'KronaOne', sans-serif;
$img-caption: 'Futura', sans-serif;
$navigation: #3a60dd;

$breakpoints: (
  lg: 1280px,
  md: 1020px,
  sm: 920px,
  xs: 480px,
);
